@model IEnumerable<Category>


@{
    ViewData["Title"] = "Category";
}

<h1>Search by category</h1>

<div class="col-md-7">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Category category in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => category.Name)</td>
                    <td></td>
                    <td>
                        <a asp-action="Search" class="btn bg-primary text-white" asp-route-id="@category.CategoryId"> View </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>