@model LibraryCult.Models.ViewModels.BookFormViewModel



@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <h1> Editing book @Model.Book.Name</h1>


    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="row-cols-3">
                <input type="hidden" asp-for="Book.BookId" />
                <form asp-action="Edit">
                    <div class="form-group">
                        <label asp-for="Book.Name" class="control-label"></label>
                        <input asp-for="Book.Name" class="form-control" />
                        <span asp-validation-for="Book.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.CategoryId" class="control-label"></label>
                        <select asp-for="Book.CategoryId" asp-items="@(new SelectList(Model.Categorys, "CategoryId", "Name"))" class="form-control"> </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Release" class="control-label"></label>
                        <input asp-for="Book.Release" class="form-control" />
                        <span asp-validation-for="Book.Release" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Author" class="control-label"></label>
                        <input asp-for="Book.Author.Name" class="form-control" />
                        <span asp-validation-for="Book.Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Language" class="control-label"></label>
                        <input asp-for="Book.Language" class="form-control" />
                        <span asp-validation-for="Book.Language" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Amount" class="control-label"></label>
                        <input asp-for="Book.Amount" class="form-control" />
                        <span asp-validation-for="Book.Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Price" class="control-label"></label>
                        <input asp-for="Book.Price" class="form-control" />
                        <span asp-validation-for="Book.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Book.Status" class="control-label"></label>
                        <select asp-for="Book.Status" class="form-control">
                            <option value="0"> Available </option>
                            <option value="1"> Unavailable </option>
                        </select>
                        <span asp-validation-for="Book.Status" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <input type="submit" asp-route-id="@Model.Book.BookId"  class="btn bg-primary text-white" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
    }

    @section Scripts {
        @{ await Html.PartialAsync("_ValidationScriptsPartial");}
    }





</body>






</html>

